{% extends 'base.html.twig' %}

{% block title %}Liste de Cryptomonnaies{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">

    <div class="container">
        <h1>Liste de Cryptomonnaies</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Créateur</th>
                <th scope="col">Quantité</th>
                <th scope="col">J'aime</th>
                <th scope="col">Favoris</th>
            </tr>
            </thead>
            <tbody>
            {% for crypto in cryptos %}
            <tr>
                <th scope="row">1</th>
                <td>{{ crypto.nom }}</td>
                <td>Satoshi Nakamoto</td>
                <td>{{ crypto.quantite }}</td>
                <td>{{ crypto.nbLikes }}</td>
                <td>⭐</td>
                <td><a href="{{ path('crypto_info', {nom: crypto.nom}) }}">Voir plus</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


